// base
@import 'base/reset';
@import 'base/vars';
// components
@import 'components/body';
@import 'components/navbar';
@import 'components/footer';
@import 'components/utilities';
@import 'components/slider';

// layouts
@import 'layouts/index';
@import 'layouts/about';
@import 'layouts/producto';
@import 'layouts/contact';
@import 'layouts/login';