* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fuente/static/OpenSans-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}
.body {
font-family: 'Open Sans';
    background-color: #f5f5f5;
}